body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Microsoft Yahei", serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;

}

html, body {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}


input, textarea {
    border: 0;
    -webkit-appearance: none;
}

h1, h3 {
    margin-bottom: 20px;
    font-weight: lighter;
}

.list-shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.text-shadow {
    text-shadow: 3px 3px 3px #90939c;;
}

.list {
    border-left: 5px #409eff solid;
    padding-top: 20px;
    margin-top: 5px;
    padding-bottom: 20px;
    /*background: #fff;*/

}
.el-divider{
    line-height: 10px;
}

.el-input__inner {
    border-radius: 20px;
}

.footnote {
    line-height: 30px;
    color: #909399;
}

[v-cloak] {
    display: none;
}

.el-cascader-panel {
    max-height: 300px;
}




